mixin menus(key, value, sub)
  if typeof value == "string"
    - const valueArray = value.split('||')
    a.site-page(href=url_for(trim(valueArray[0])))
      if valueArray[1]
        i.fa-fw(class=trim(valueArray[1]))
      span=' '+trim(key)
  else
    - const hideClass = value.icon && trim(value.icon) === 'hide' ? 'hide' : ''
    a.site-page.group(class=`${hideClass}` href=url_for(trim(value.path ? value.path: url_for('/'))))
      if value.icon
        i.fa-fw(class=trim(value.icon))
      span=' '+ trim(key)
      if value.children
        i.fas.fa-chevron-down
    if value.children
      ul(class=`menus_item_child ${sub ? "submenu" : ""}`)
        each v, k in value.children
          li
            +menus(k, v, true)


if theme.menu
  .menus_items
    each value, key in theme.menu
      .menus_item
        +menus(key, value)
